.gradle/*
.vscode/*
*.class
cluster_deploy/pulsar_helm/bkup
cluster_deploy/pulsar_helm/charts
cluster_deploy/pulsar_helm/Chart.lock
demo_code/java/client_apps/.idea
demo_code/java/client_apps/*/target
demo_code/java/client_apps/*/*/target
demo_code/codes_from_old_repo/*