.gradle/*
.vscode/*
*.class
cluster_deploy/pulsar/helm/charts/*
cluster_deploy/pulsar/helm/Chart.lock
application_code/__codes_from_old_repo
application_code/client_apps/java/.idea
application_code/client_apps/java/target
application_code/client_apps/java/*/target
application_code/client_apps/java/*/*/target
application_code/client_apps/java/*/*.iml
application_code/client_apps/java/dependency-reduced-pom.xml
application_code/client_apps/java/*/dependency-reduced-pom.xml
application_code/client_apps/java/*/*/dependency-reduced-pom.xml
application_code/codes_from_old_repo/*
scenarios/*.nohup
scenarios/*/appexec/*
scenarios/logs/*
cluster_deploy/ext_tools/jaegar/jaeger_port_forward.nohup
scenarios/*/*.conf
scenarios/*/*.crt