{
  "tenant": "<tenant_name>",
  "namespace": "<namespace_name>",
  "name": "<func_nam>",
  "runtime": "JAVA",
  "inputs": [ <input_topic_list> ],
  "output": "<output_topic>",
  "autoAck": <auto_ack>,
  "className": "<class_name>"
}